@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import url('./calendar.css');
@import url('./scrollbar.css');

.phone-input {
    /* border: 1px solid #e5e5e5; */
    height: 2.6rem;
    /* border-radius: 5px; */
    /* padding: 0 1rem; */
    box-sizing: border-box;
}
.PhoneInputInput {
    height: 100% !important;
    border-radius: 0 !important;
    width: 100% !important;
}
.searchInput-box {
    border: 0 !important;
    border-bottom: 1px solid #cacaca !important;
    width: 100%;
    border-radius: 0 !important;
    margin-left: 0 !important;
}
.date {
    border: 1px solid #e5e5e5;
    height: 2.6rem;
    /* border-radius: 5px; */
    padding: 0 1rem;
    box-sizing: border-box;
    width: 100%;
}
.dateWrapper {
    width: 100%;
}
.select option {
    color: #000 !important;
}
.formcheck {
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #2eafa3;
    border-radius: 0%;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
}
input[type='checkbox'] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    /* Not removed via appearance */
    /* margin: 0; */
    display: grid;
    place-content: center;
}
input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: white;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type='checkbox']:checked::before {
    transform: scale(1);
}
input[type='checkbox']:checked {
    background: #2eafa3;
}
td {
    border-bottom: 1px solid #edf2f7;
    padding: 0.8rem 1rem;
}
.month-year-picker {
    margin: 0 !important;
}
.month-year-picker .caption {
    display: none !important;
}
.month-year-picker .year-picker .controls {
    justify-content: space-between;
    width: 100% !important;
}
.month-year-picker .year-picker .controls .fa {
    font-size: 1rem !important;
    color: #2eafa3 !important;
}
.month-year-picker .year-picker span {
    font-size: 1.5rem !important;
    font-weight: 600;
    color: #2eafa3 !important;
}
.month-year-picker .month-picker > div > div {
    color: #000 !important;
}
.month-year-picker .month-picker > div > div.selected {
    color: white !important;
    background-color: #2eafa3 !important;
}
.green {
    /* color: #2eafa3 !important; */
    position: relative;
}
.green::after {
    content: 'EXPENSE';
    color: white;
    padding: 0rem 0.5rem;
    display: flex;
    align-items: center;
    height: 1rem;
    font-size: 0.5rem;
    border-radius: 10px;
    background-color: #2eafa3 !important;
    position: absolute;
    top: 8%;
    right: 25%;
}
.dateFilter {
    border: 0;
    outline: 0;
    min-width: 185px;
}
select option {
    padding: 0.5rem 1rem;
}
#globalLoader {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
