::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #dce1e7;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #2eafa3;
    border-radius: 15px;
}
